* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-family: monospace;
}

img.icon {
  width: 1.6rem;
  height: 1.6rem;
}

body {
  background-color: black;
}

.main-wrapper {
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: black;
  padding: 0 10vw;
  height: 80vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  height: 100%;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-template-rows: 1fr 1fr;
  padding: 1.5rem;
  box-shadow: 0px 4px 8px rgb(117, 115, 115);
  position: relative;
  z-index: 10;
  gap: 1.5rem;
}

.header .top-row {
  grid-area: 1 / 1 / 2 / 3;
  display: grid;
  grid-template: 1fr / 1.5fr 1fr;
  align-items: center;
  gap: 1.5rem;
}

.search {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search input {
  background-color: rgb(204, 204, 209);
  font-size: 1.75rem;
  border-radius: 12px;
  border: none;
  flex: 1 1 auto;
  margin-right: 1rem;
  padding: .25rem 1rem;
}

.search input:hover,
.search input:active,
.search input:focus {
  font-size: 1.85rem;
  background-color: rgb(217, 217, 223);
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.toolbar .profile-picture {
  height: 3rem;
  width: 3rem;
  border-radius: 100px;
}

.toolbar .profile {
  font-size: 1.3rem;
  font-weight: 600;
}

.header .bot-row {
  grid-area: 2 / 1 / 3 / 3;
  display: grid;
  grid-template: 1fr / 1.5fr 1fr;
  align-items: center;
  gap: 1.5rem;
}

.bot-row .greeting {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-start;
}

.greeting img {
  height: 5rem;
  width: 5rem;
  border-radius: 100px;
}

.hello-top {
  font-weight: 700;
}

.hello-bot {
  font-weight: 700;
  font-size: 2rem;
}

.bot-row .content-buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.content-buttons button {
  border: none;
  border-radius: 20px;
  background-color: rgb(20, 155, 218);
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.75rem 0.1rem;
  color: white;
  flex: 1 1 auto;
}

button:hover {
  background-color: rgb(48, 178, 238);
  padding: 0.85rem 0.2rem;
  font-size: 1.35rem;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background-color: rgb(20, 155, 218);
  padding: 1.5rem;
}

.sidebar a {
  text-decoration: none;
  color: white;
  font-size: 1.75rem;
  font-weight: 700;
}

.sidebar img {
  filter: brightness(0) invert(1);
}

.sidebar-li {
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidebar a:hover {
  font-size: 1.85rem;
  font-weight: 800;
}

.gap {
  padding-bottom: 4rem;
}

#dashboard {
  font-size: 2.5rem;
}

#main-logo {
  height: 2.5rem;
  width: 2.5rem;
}

.content {
  grid-area: 2 / 2 / 3 / 3;
  background-color: rgb(204, 204, 209);
  display: grid;
  grid-template: 1fr 1fr / 2.5fr 1fr;
  gap: 1.5rem;
  padding: 1.5rem;
}

.projects {
  grid-area: 1 / 1 / 3 / 2;
}

.title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.projects .cards {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, 200px);
}

.card {
  padding: 1.5rem;
  border-radius: 8px;
  border-left: 8px solid rgb(219, 154, 33);
  background-color: white;
  box-shadow: 4px 4px 10px rgb(117, 115, 115);
  display: grid;
  grid-template-columns: 100px 150px;
  grid-template-rows: 40px 80px 40px;
}

.card .name {
  grid-area: 1 / 1 / 2 / 3;
  font-size: 1.1rem;
  font-weight: 700;
}

.card .text {
  grid-area: 2 / 1 / 3 / 4;
  height: 50%;
  display: flex;
  flex-wrap: nowrap;
}

.card .actions {
  grid-area: 3 / 2 / 4 / 3;
  align-self: end;
  justify-self: end;
}

.card:hover {
  border-left: 10px solid rgb(240, 175, 54);
  box-shadow: 6px 6px 10px rgb(66, 66, 66);
}

.announcements {
  grid-area: 1 / 2 / 2 / 3;
}

.announcement .name {
  font-size: 1.1rem;
  font-weight: 700;
}

.announcements .wrapper {
  padding: 1.5rem;
  border-radius: 8px;
  background-color: white;
  box-shadow: 4px 4px 10px rgb(117, 115, 115);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.announcements .wrapper:hover {
  padding: 1.6rem;
  box-shadow: 6px 6px 10px rgb(66, 66, 66);
}

.trending {
  grid-area: 2 / 2 / 3 / 3;
}

.trending .wrapper {
  padding: 1.5rem;
  border-radius: 8px;
  background-color: white;
  box-shadow: 4px 4px 10px rgb(117, 115, 115);
}

.trending .wrapper:hover {
  padding: 1.6rem;
  box-shadow: 6px 6px 10px rgb(66, 66, 66);
}

.trend ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.trend ul li {
  display: flex;
  gap: 1rem;
}

.trend ul li a {
  text-decoration: none;
  color: black;
}

.trend ul li img {
  height: 3rem;
  width: 3rem;
  border-radius: 100px;
}

.handle {
  font-weight: 700;
}

.project-title {
  color:rgb(117, 115, 115)
}

a {
  text-decoration: none;
  color: black;
}

hr {
  border-color: black;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

@media (max-width: 800px) {
  .main-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .header {
    display: flex;
    flex-direction: column;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .top-row {
    display: none;
    height: 0px;
  }

  .search {
    display: none;
  }

  .search .icon {
    display: none;
  }

  .toolbar {
    display: none;
  }

  .bot-row {
    display: flex;
    flex-direction: column;
  }

  .content-buttons {
    display: flex;
    flex-direction: column;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  button {
    font-size: 12px;
    padding: 4px 6px;
    width: 100px;
    height: 40px;
  }

  .hello-bot {
    font-size: 1.3rem;
  }

  .card .name {
    font-size: 1.3rem;
  }

  .card .text {
    font-size: 1.1rem;
  }
}
